.root {

}

.cardGrid {
    width: 70%;
    margin: 0 auto;
    display: grid;
    gap: 56px 32px;
}



.cardGrid > *,
.show > * {
    max-width: 190px; /* ajusta a tu gusto */
    margin: 0 auto;   /* centra las tarjetas en la columna */
}


.mobileSlider {
    display: none;
}

.show {
    width: 100%;
    max-width: 100%;
    margin: 0;            /* quita margen automático */
    padding: 0 8px;       /* opcional: pequeño padding lateral */
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 24px 0px;
}

@media (max-width: 800px) {
    .mobileSlider {
        display: block;
    }

    .cardGrid {
        display: none;
    }

    .show {
        grid-template-columns: 1fr 1fr !important;
        gap: 24px 12px;
    }
}

