.root {
    width: 350px;
    min-height: 150px;

    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;

    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.root span {
    transition: color 0.3s ease-in-out;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--standard-white);
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}


.root:hover .content {
    opacity: 1;
    visibility: visible;
}

.title {
    display: block;          /* Asegura que esté en su propia línea */
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;       /* Espacio entre título y texto */
    font-family: var(--standard-header);
}

.text {
    display: block;           /* Forzamos a que baje a otra línea */
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid var(--standard-white);
    padding-bottom: 2px;
}

.content a:hover {
    color: var(--standard-gold);
}

.overlay {
    width: 100%;
    min-height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--standard-black);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}

.root:hover .overlay {
    opacity: 0.4;
    visibility: visible;
}

@media (max-width: 800px) {
    .root {
        min-height: 330px;
    }

    .content {
        bottom: 50px;
        left: 30px;
    }

    .title {
        margin-bottom:16px;
    }

    .overlay {
        min-height: 100%;
    }
}